@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@view-transition {
	navigation: auto;
}

::selection {
	background-color: var(--accent);
	color: var(--bg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-optical-sizing: auto;
	text-wrap: pretty;
	tab-size: 4;
}

:root {
	--bg: #f5e5c5;
	--bg-alt: #fff4db;
	--fg: #291a15;
	--fg-alt: #1d0700;
	--accent: #627546;
	--accent-alt: #283910;

	--fg-40: color-mix(in srgb, var(--fg) 40%, transparent);

	overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1E252F;
		--bg-alt: #151B24;
		--fg: #ccced0;
		--fg-alt: #f2f8ff;
		--accent: #789980;
		--accent-alt: #CBEAD3;
	}
}

body {
	position: relative;

	counter-reset: h2 h3 h4 h5 h6;
	background-color: var(--bg);
	color: var(--fg);
	font: 1rem/1.5 "Besley", "Cambria", serif;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	max-width: 100vw;
	overflow-x: none;

	&:after {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		min-height: 100vh;
		pointer-events: none;
		background: url("/assets/paper.png");
		mix-blend-mode: overlay;
		opacity: 0.25;
	}
}

@media screen and (min-width: 80em) {
	body {
		font-size: 1.25rem;
	}
}

body > * {
	width: 100%;
	max-width: 100ch;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	letter-spacing: 0.04em;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	color: var(--fg-alt);
	text-wrap: balance;

	&:before {
		margin-right: 1em;
		opacity: 0.5;
	}
}

h1 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--fg-40);
}

h2 {
	font-size: 1.5em;
	&:before {
		counter-increment: h2;
		content: counter(h2);
	}
}

h3 {
	&:before {
		counter-increment: h3;
		content: counter(h2) "." counter(h3);
	}
}

h4 {
	&:before {
		counter-increment: h4;
		content: counter(h2) "." counter(h3) "." counter(h4);
	}
}

h5 {
	&:before {
		counter-increment: h5;
		content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
	}
}

h6 {
	&:before {
		counter-increment: h6;
		content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
	}
}

strong {
	color: var(--fg-alt);
}

ul, ol {
	padding-left: 0;
}

li {
	margin-left: 1em;
	padding-left: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

ul {
	list-style-type: square;
	& > li::marker {
		color: var(--accent);
	}
}

a {
	color: var(--accent-alt);
}

a:hover {
	text-decoration: none;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background: var(--fg-40);
}

table {
	position: relative;
	display: block;
	max-width: 100vw;
	overflow-x: auto;
	border-collapse: collapse;
	margin: 1rem -2rem;
	padding: 0 1.5rem;
	white-space: nowrap;
	mask-image: linear-gradient(to right, transparent 0px, black 2rem, black calc(100% - 2rem), transparent 100%);
}
th, td {
	padding: 0.25rem 0.5rem;
	text-align: left;
	text-align: left;
	padding-right: 2rem;
}

td {
	border-top: 1px solid var(--fg-40);
}

code {
	font: 1em/1.5 "Roboto Mono", "Consolas", monospace;
	color: var(--fg-alt);
	background-color: var(--bg-alt);
	padding: 0 0.25em;
}

div.highlight {
	background-color: var(--bg-alt);
	margin: 1rem -2rem;
	font-size: 0.8em;
}

div.highlight > pre {
	display: flex;
	overflow-x: auto;
	mask-image: linear-gradient(to right, transparent 0px, black 2rem, black calc(100% - 2rem), transparent 100%);
}

div.highlight > pre > code {
	margin: 1rem 2rem;
	background-color: transparent;
}

.footnotes {
	font-size: 0.8em;
	letter-spacing: 0.04em;

	border-top: 1px solid var(--fg-40);
	margin-top: 3em;

	& > * {
		font-style: italic;
	}

	&::before {
		display: block;
		content: "Footnotes";
		width: fit-content;
		padding-right: 0.5em;
		color: var(--fg-alt);
		background-color: var(--bg);
		margin-top: -0.6lh;
		margin-bottom: 1em;
	}

	& .reversefootnote {
		font-style: normal;

		& > sup::before {
			content: " ";
		}
	}
}

p + p, p + ul, p + ol,
ul + p, ul + ul, ul + ol,
ol + p, ol + ul, ol + ol {
	margin-top: 1em;
}

main > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	margin-top: 2rem;

	& > hr {
		width: 1fr;
		flex-shrink: 1;
	}

	& > a {
		flex-shrink: 0;

		&.nav-back:before {
			display: inline-block;
			content: "⇐";
			margin-right: 0.5em;
		}

		&.nav-next:after {
			display: inline-block;
			content: "⇒";
			margin-left: 0.5em;
		}
	}
}