@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Editor';
  src: url('/assets/local-dev/fonts/Editor-Variable.woff2') format('woff2'),
       url('/assets/local-dev/fonts/Editor-Variable.woff') format('woff'),
       url('/assets/local-dev/fonts/Editor-Variable.ttf') format('truetype');
  font-weight: 300 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Editor';
  src: url('/assets/local-dev/fonts/Editor-VariableItalic.woff2') format('woff2'),
       url('/assets/local-dev/fonts/Editor-VariableItalic.woff') format('woff'),
       url('/assets/local-dev/fonts/Editor-VariableItalic.ttf') format('truetype');
  font-weight: 300 800;
  font-display: swap;
  font-style: italic;
}

@view-transition {
	navigation: auto;
}

@keyframes wolf-logo-blink {
	0% {
		transform: translateY(-50%) scaleY(0%) translateY(60%);
	}
	25% {
		transform: translateY(0%) scaleY(100%) translateY(0%);
	}
	100% {
		transform: translateY(-50%) scaleY(0%) translateY(60%);
	}
}

::selection {
	background-color: var(--accent);
	color: var(--bg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-optical-sizing: auto;
	text-wrap: pretty;
	tab-size: 4;
}

:root {
	--bg: #f5e5c5;
	--bg-alt: #fff4db;
	--fg: #1d0700;
	--fg-alt: #291a15;
	--accent: #627546;
	--accent-alt: #283910;

	--fg-40: color-mix(in srgb, var(--fg) 40%, transparent);
	--fg-60: color-mix(in srgb, var(--fg) 60%, transparent);

	overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #1E252F;
		--bg-alt: #151B24;
		--fg: #f2f8ff;
		--fg-alt: #ccced0;
		--accent: #789980;
		--accent-alt: #CBEAD3;
	}
}

body {
	position: relative;

	counter-reset: h2 h3 h4 h5 h6;
	background-color: var(--bg);
	color: var(--fg);

	--main-font-family: "Editor", "Besley", serif;
	font: 1rem/1.5 var(--main-font-family);
	font-weight: 420;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	max-width: 100vw;
	overflow-x: none;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 12rem;
		height: 12rem;
		background: var(--bg-alt);
		mask-image: url("/assets/page-detail.svg");
		mask-size: 100%;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		min-height: 100vh;
		pointer-events: none;
		background: url("/assets/paper.png");
		mix-blend-mode: overlay;
		opacity: 0.25;
	}
}

@media screen and (min-width: 80em) {
	body {
		font-size: 1.25rem;
	}
}

body > * {
	width: 100%;
	max-width: 80ch;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	color: var(--fg-alt);
	text-wrap: balance;

	&:before {
		margin-right: 1em;
		color: var(--fg-40);
	}
}

h1 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--fg-40);
	font-weight: 500;
}

h2 {
	font-size: 1.5em;
	&:before {
		counter-increment: h2;
		content: counter(h2);
	}
	font-weight: 500;
}

h3 {
	&:before {
		counter-increment: h3;
		content: counter(h2) "." counter(h3);
	}
	font-weight: 600;
}

h4 {
	&:before {
		counter-increment: h4;
		content: counter(h2) "." counter(h3) "." counter(h4);
	}
	font-weight: 600;
}

h5 {
	&:before {
		counter-increment: h5;
		content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
	}
	font-weight: 700;
}

h6 {
	&:before {
		counter-increment: h6;
		content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
	}
	font-weight: 700;
}

strong {
	color: var(--fg-alt);
}

ul, ol {
	padding-left: 0;
	&.multicol {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
	}
}

li {
	margin-left: 1em;
	padding-left: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

ul {
	list-style-type: square;
	& > li::marker {
		color: var(--accent);
	}
}

@counter-style counter-plain {
	system: numeric;
	symbols: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
	suffix: "";
}

ol {
	list-style-type: counter-plain;
	& > li::marker {
		color: var(--fg-60);
	}
}

a {
	color: var(--accent-alt);
}

a:hover {
	text-decoration: none;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background: var(--fg-40);
}

table {
	display: block;
	max-width: 100vw;
	overflow-x: auto;
	border-collapse: collapse;
	margin: 1rem -2rem;
	padding: 0 1.5rem;
	white-space: nowrap;
	mask-image: linear-gradient(to right, transparent 0px, black 2rem, black calc(100% - 2rem), transparent 100%);
}

th, td {
	min-width: max-content;
	padding: 0.25rem 0.5rem;
	text-align: left;
	text-align: left;
	padding-right: 2rem;
}

td {
	border-top: 1px solid var(--fg-40);
}

code {
	font: 0.9em/1.5 "Roboto Mono", "Consolas", monospace;
	background-color: var(--bg-alt);
	border: 1px solid var(--fg-40);
	padding: 0 0.25em;
}

div.highlight {
	background-color: var(--bg-alt);
	margin: 1rem -2rem;
	font-size: 0.8em;
}

div.highlight > pre {
	display: flex;
	overflow-x: auto;
	mask-image: linear-gradient(to right, transparent 0px, black 2rem, black calc(100% - 2rem), transparent 100%);
}

div.highlight > pre > code {
	margin: 1rem 2rem;
	background-color: transparent;
	border: none;
	text-wrap: nowrap;
}

.footnotes {
	font-size: 0.8em;
	font-weight: 450;
	letter-spacing: 0.02em;

	border-top: 1px solid var(--fg-40);
	margin-top: 3em;

	& > * {
		font-style: italic;
	}

	&::before {
		display: block;
		content: "Footnotes";
		width: fit-content;
		padding-right: 0.5em;
		color: var(--fg-alt);
		background-color: var(--bg);
		margin-top: -0.6lh;
		margin-bottom: 1em;
	}

	& .reversefootnote {
		font-style: normal;
		
		/* Prevent emoji rendering */
		font-family: monospace; 
		& > * {
			font-family: var(--main-font-family);
		}

		& > sup::before {
			content: " ";
		}
	}
}

p + p, p + ul, p + ol,
ul + p, ul + ul, ul + ol,
ol + p, ol + ul, ol + ol {
	margin-top: 1em;
}

.header-logo {
	display: flex;
	align-items: center;
	gap: 1.5em;

	color: inherit;
	text-decoration: none;

	&:hover picture::after {
		animation: wolf-logo-blink 0.2s 2;
	}

	& picture {
		width: max-content;
		height: max-content;
		position: relative;

		& img {
			width: auto;
			height: 6em;
			box-shadow: 0 -6rem 0 var(--accent);
		}

		&::after {
			content: " ";
			position: absolute;
			display: block;
			top: 45%;
			left: 54%;
			right: 8%;
			bottom: 42%;
			transform: translateY(-50%) scaleY(0%) translateY(60%);
			background-color: var(--accent);
		}
	}

	& span {
		padding-top: 0.05em; /* optical alignment */
		color: var(--fg-alt);
		font-size: 3.5em;
		font-weight: 500;
		text-transform: uppercase;
	}
}

main > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	margin-top: 2rem;

	& > hr {
		width: 1fr;
		flex-shrink: 1;
	}

	& > a {
		flex-shrink: 0;

		&.nav-back:before {
			display: inline-block;
			content: "⇐";
			margin-right: 0.5em;
		}

		&.nav-next:after {
			display: inline-block;
			content: "⇒";
			margin-left: 0.5em;
		}
	}
}